@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Gaegu&display=swap');

html{
    font-size: 16px;
}

body{
    background-color: #bbdb99;
    font-family: 'Gaegu', sans-serif;
    line-height: 1.5;
    color:#0F2E48;
    max-width: 87.5rem;
    margin: 6rem auto;
    font-size: 1.5rem;
}

header{
    margin: auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    height:1000px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: #668354;
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
}

nav h1:hover{
    color:#F1EFDB;
}

#name{
    font-size: 3rem;
    color: #0F2E48;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    margin: auto; 

}

section{
    color: #0F2E48;
    margin: 18rem auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
}

#tagline{
    text-align: center;
    grid-column: 2/12;
    font-size: 3rem;
}

.artwork{
    grid-column: 9/13;
    text-align: center;
}

.description{
    grid-column: 2/8;
}

.artwork-alt{
    grid-column: 2/6;
    text-align: center;
}

.description-alt{
    grid-column: 7/12;
}

#bio{
    grid-column: 6/12;
}

img{
    margin-top: 5em;
    max-width: 100%;
    max-height: 850px;
}

#link1{
    color:#F1EFDB;
    
}

.link1_image{
    height: 500px;
    width: 500px;
    margin: auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

#link2{
    color:#F1EFDB;
}


a{
    text-decoration: none;
    color: #668354;
    margin: 0 0 0 3rem;
}

a h1:visited{
    color:#F1EFDB;
    border-bottom: 1px solid #0F2E48;
}

.selected{
    color:#F1EFDB;
}

#square{
    grid-column: 2/6;
    text-align: center;
    background-image: url('../img/9squares.JPG');
    background-position: 0px 0px;
    margin: auto;
    margin-top:5em;
    height: 296px;
    width: 300px;
}

#square:hover{
    background-image: url(../img/9squares.JPG);
    background-position: 0px -296px;
}

#architect{
    grid-column: 2/6;
    text-align: center;
    background-image: url('../img/architectural\ pattern.jpg');
    background-position: 0px 0px;
    margin: auto;
    margin-top:10%;
    height: 496px;
    width: 300px;
}

#architect:hover{
    background-image: url(../img/architectural\ pattern.jpg);
    background-position: 0px -496px;
}

#interpretation{
    grid-column: 9/13;
    text-align: center;
    background-image: url(../img/interpretation.jpg);
    background-position: 0px 0px;
    margin: auto;
    margin-top:10%;
    height: 424px;
    width: 300px;
}

#interpretation:hover{
    background-image: url(../img/interpretation.jpg);
    background-position: 0px -424px;
}

#triptych{
    grid-column: 2/6;
    text-align: center;
    background-image: url(../img/triptych.jpg);
    background-position: 0px 0px;
    margin: auto;
    margin-top:10%;
    height: 616px;
    width: 300px;
}

#triptych:hover{
    background-image: url(../img/triptych.jpg);
    background-position: 0px -616px;
}

footer{
    width: 100%; 
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3rem;
    color: #668354;
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
}

input, textarea{
    background-color:#F1EFDB;
    border: 2px solid #0F2E48;
    color: #0F2E48;
    font-size: 20px;
    width: 100%;
    padding: 8px 16px 8px 16px;
}

label{
    display:block;
    margin: 16px 0px 16px 0px;
}

textarea{
    height: 320px;
}

button{
    background-color: #FDEEB3;
    border: none;
    font-size: 20px;
    font-family: 'Gaegu', sans-serif;
    padding: 8px 16px 8px 16px;
}

input:focus, textarea:focus{
    border: 2px solid #CE936E;
}

#bg_index{
    width: 100%;
    height: 100%;
    animation-name: backdrop;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}